@model string

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>CLONE TROOPER SECRET DATABASE</title>
</head>
<body>
<div class="content">
    <div>
        <div>
            <a href="/home/index" class="btn btn-primary">Index</a>
            <a href="/home/secret" class="btn btn-primary">Secret Database</a>
            <a href="/home/Authenticate" class="btn btn-primary">Authenticate</a>
            <a href="/home/GetBattleMap" class="btn btn-success">Get Battle Map</a>
        </div>
        <h1>CLONE TROOPER SECRET DATABASE</h1>
        <h3>HI, @Model</h3>
    </div>
</div>
<style>
    body {
       background-color: #bababa;
    }
    .content {
    	width: 50%;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	margin: 0 auto;
    	min-height: 500px;
    }
</style>
</body>
</html>