@model string

@{
    Layout = null;
    var url = $"/OAuth/Authorize{Model}";
}

<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>(SERVER) LOGIN TO THE IMPERIAL SYSTEM</title>
</head>
<body>
<div class="content">
    <div>
        <div>
            <a href="/OAuth/Authorize" class="btn btn-primary">Authorize</a>
        </div>
        <h1>(SERVER) LOGIN TO THE IMPERIAL SYSTEM</h1>
             <form action="@url" method="post">
                 <input type="text" id="userName" name="userName" placeholder="userName">
                 <input type="submit" value="Log In">
             </form>
    </div>
</div>
<style>
    body {
        background-color: #000000;
        color: white;
    }
    .content {
    	width: 50%;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	margin: 0 auto;
    	min-height: 500px;
    }
</style>
</body>
</html>