@model object

@{
    var data = Model as string;
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>POLICE SECRET DATABASE</title>
</head>
<body>
<div class="content">
    <div>
        <div>
            <a href="/home/index" class="btn btn-primary">Index</a>
            <a href="/home/login" class="btn btn-primary">Login</a>
            <a href="/home/LogOut" class="btn btn-primary">LogOut</a>
            <a href="/home/register" class="btn btn-primary">Register</a>
            <a href="/home/secret" class="btn btn-primary">Secret Database</a>
        </div>
        <h1>POLICE SECRET DATABASE</h1>
       <div class="p-5" style="word-break: break-all">
            @data
        </div>
    </div>
</div>
<style>
    body {
        background-color: #ffe8e8;
    }
    .content {
    	width: 50%;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	margin: 0 auto;
    	min-height: 500px;
    }
</style>
</body>
</html>